/* --------------- Design System Setup --------------- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

:root {
  --pure-white: #fff;
  --pure-black: #000;
  --base-black: #171717;
  --base-pink-1: #e840af;
  --base-pink-2: #bf41ce;
  --base-purple: #9b41e9;
  --grad-vertical: linear-gradient(to bottom, #e740af 0%, #9a41ea 100%);
  --grad-horizontal: linear-gradient(to right, #e740af 0%, #9a41ea 100%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: none;
}

body {
  min-height: 100vh;
  max-width: 1920px;
  margin: auto;
  display: block;
  background-color: var(--base-black);
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
  width: unset;
}

ul {
  margin: 0;
  list-style-type: none;
}

img,
video {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  border-style: none;
  object-fit: fill;
  cursor: pointer;
}

input,
select {
  outline: none;
  border: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
}

/* ------------------------------ */

@media only screen and (min-width: 1200px){


h1 {
  color: var(--pure-white);
  text-align: center;
}

h2 {
  font-family:"Quicksand",sans-serif;
  color: var(--pure-white);
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}

h3{
  font-family:"Quicksand",sans-serif;
  color: var(--pure-white);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

h4{
  font-family: "Quicksand",sans-serif;
  color: var(--base-pink-1);
  font-size: 30px;
  font-weight: 600;
}

div.things-which-matter {
  margin-top: 100px;
  margin-bottom: 100px;
}

div.things-which-matter div.things-flex{
  display: flex;
  align-items: center;
}
div.things-which-matter div.things-flex div.thing-1{
  width: 33%;
  margin: auto;
}

div.things-which-matter div.things-flex div.thing-2{
  width: 33%;
}

div.things-which-matter div.things-flex div.thing-3{
  width: 33%;
}

div.things-which-matter div.things-flex div.thing-1 h4{
  margin-left: 70px;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
}
div.things-which-matter div.things-flex div.thing-1 img{
  margin-left: 150px;
  justify-content: center;
  text-align: center;
}

div.things-which-matter div.things-flex div.thing-2 h4{
  margin-left: 190px;
  margin-top: 20px;
}
div.things-which-matter div.things-flex div.thing-2 img{
  margin-left: 210px;
  height: 190px;
}

div.things-which-matter div.things-flex div.thing-3 img{
  margin-top: 10px;
  margin-left: 260px;
  height: 170px;
}

div.things-which-matter div.things-flex div.thing-3 h4{
  margin-top: 32px;
  margin-left: 150px;
}

div.email-input{
  display: flex;
  margin-top: 100px;
}

div.email-input div.email{
  width:50%
}

div.email-input div.email input#email{
  width: 80%;
  padding: 20px 20px;
  border: 6px solid var(--base-pink-1);
  border-radius: 12px;
  margin-left: 300px;
  background-color: var(--base-black);
}

::placeholder{
  font-family: "Montserrat",sans-serif;
  font-size: x-large;
  font-weight: 600;
  text-align: left;
  vertical-align: middle;
  color: var(--pure-white);

}

div.email-input div.submit-button button#submit{
  color: var(--pure-white);
  background-color: var(--base-pink-1);
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat",sans-serif;
  font-weight: 600;
  font-size: x-large;
  border-radius: 12px;
  margin-left: 200px;
  vertical-align: middle;
}

div.email-cta{
  margin-top: 100px;
}

div.footer {
  margin-top: 200px;
  margin-bottom: 50px;
  display: flex;
}

div.footer div.logo {
  display: flex;
  width: 50%;
  margin-left: 50px;
}

div.footer div.socials {
  display: flex;
  width: 50%;
  margin-right: 500px;
}

div.socials ul.socials-list {
  display: flex;
  position: relative;
  left: 550px;
  margin-right: 30px;
}
div.socials ul.socials-list li {
  padding: 10px 20px;
}

div.socials ul.socials-list li#instagram img{
  height: 50px;
}

div.socials ul.socials-list li#linkedin img{
  height: 50px;
}

div.socials ul.socials-list li#twitter img{
  margin-top: 2px;
  height: 50px;
}

div.socials ul.socials-list li#mail img{
  height: 55px;
}
}

@media only screen and (max-width: 1201px){

  div.footer div.socials {
    display: flex;
    width: 30%;
    margin-right: 700px;
  }

}
