/* --------------- Design System Setup --------------- */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

:root {
  --pure-white: #fff;
  --pure-black: #000;
  --base-black: #171717;
  --base-pink-1: #e840af;
  --base-pink-2: #bf41ce;
  --base-purple: #9b41e9;
  --grad-vertical: linear-gradient(to bottom, #e740af 0%, #9a41ea 100%);
  --grad-horizontal: linear-gradient(to right, #e740af 0%, #9a41ea 100%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: none;
}

body {
  min-height: 100vh;
  max-width: 1920px;
  margin: auto;
  display: block;
  background-color: var(--base-black);
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
  width: unset;
}

ul {
  margin: 0;
  list-style-type: none;
}

img,
video {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  border-style: none;
  object-fit: fill;
  cursor: pointer;
}

input,
select {
  outline: none;
  border: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
}

/* ------------------------------ */

/* --------------- Navbar --------------- */

.nav__bar {
  padding: 2rem 2rem;
  background-color: var(--base-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 56px;
  background: rgba(23, 23, 23, 0.45);
  box-shadow: 0 8px 32px 0 rgba(23, 23, 23, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 999;
}

.title__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo__img {
  width: 9rem;
  margin-right: 0.8rem;
  object-fit: cover;
}

.title {
  font-size: 1.5rem;
  color: white;
}

.navbar__buttons {
  width: 340px;
  background-color: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation__buttons {
  background-color: inherit;
  font-size: 1.1rem;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.navigation__buttons a {
  font-weight: 700;
}

.navigation__buttons::after {
  display: block;
  content: '';
  border-bottom: 2px solid var(--base-pink-1);
  transform: scaleX(0);
}

.navigation__buttons:hover::after {
  transform: scaleX(1);
}

.navigation__buttons:focus::after {
  transform: scaleX(1);
}

.passion__navbar-mobileScreen {
  display: none;
  transition: 0.5s ease;
}

#hamburger-open {
  width: 30px;
  height: 30px;
}

.passion__navbar-mobileScreen-overlayClose {
  display: none;
}

.slide__bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#hamburger-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  cursor: pointer;
}

.passion__navbar-mobileScreen-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.passion__navbar-mobileScreen-links li {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--pure-white);
  text-align: center;
  cursor: pointer;
}

.passion__navbar-mobileScreen-links li button {
  margin-top: 3rem;
  font-size: 2rem;
}

.passion__navbar-mobileScreen-links li:hover {
  color: var(--base-pink-2);
}

.passion__navbar-mobileScreen-overlayOpen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #141414;
  flex-direction: column;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  z-index: 999;
}

.passion__navbar-mobileScreen-overlayClose {
  display: none;
}

/* ------------------------------ */

@media only screen and (min-width: 1200px) {
  /*Common Elements*/

  h1 {
    color: var(--pure-white);
    text-align: center;
  }

  h2 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 45px;
    font-weight: 600;
    text-align: center;
  }

  h3 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }

  h4 {
    font-family: 'Quicksand', sans-serif;
    color: var(--base-pink-1);
    font-size: 30px;
    font-weight: 600;
  }

  /*Things Which Matter*/

  div.things-which-matter {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  div.things-which-matter div.things-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.things-which-matter div.things-flex div.thing-1 {
    text-align: center;
    width: 33%;
    margin-left: 20px;
  }

  div.things-which-matter div.things-flex div.thing-2 {
    text-align: center;
    width: 33%;
  }

  div.things-which-matter div.things-flex div.thing-3 {
    text-align: center;
    width: 34%;
    margin-right: 20px;
  }

  div.things-which-matter div.things-flex div.thing-1 h4 {
    margin-top: 30px;
    text-align: center;
  }

  div.things-which-matter div.things-flex div.thing-2 h4 {
    margin-top: 20px;
  }
  div.things-which-matter div.things-flex div.thing-2 img {
    height: 190px;
  }

  div.things-which-matter div.things-flex div.thing-3 img {
    margin-top: 10px;
    height: 170px;
  }

  div.things-which-matter div.things-flex div.thing-3 h4 {
    margin-top: 32px;
  }

  /*Email Input*/

  div.email-input {
    display: flex;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  div.email-input div.email {
    width: 50%;
  }

  div.email-input div.email input#email {
    width: 70%;
    padding: 20px 20px;
    border: 6px solid var(--base-pink-1);
    border-radius: 12px;
    background-color: var(--base-black);
  }

  ::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
    color: var(--pure-white);
  }

  div.email-input div.submit-button {
    width: 10%;
  }

  div.email-input div.submit-button button#submit {
    color: var(--pure-white);
    background-color: var(--base-pink-1);
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: x-large;
    border-radius: 12px;
    vertical-align: middle;
  }

  div.email-cta{
    display: flex;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
    
  div.email-cta h3#email-text{
      vertical-align: middle;
      width: 70%;
  }

  /*Footer*/

  div.footer {
    margin-top: 200px;
    margin-bottom: 50px;
    display: flex;
  }

  div.footer div.logo {
    width: 50%;
    margin-left: 20px;
  }

  div.footer div.socials {
    width: 50%;
  }

  div.socials ul.socials-list {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 20px;
  }
  div.socials ul.socials-list li {
    padding: 10px 20px;
  }

  div.socials ul.socials-list li#instagram img {
    height: 50px;
  }

  div.socials ul.socials-list li#linkedin img {
    height: 50px;
  }

  div.socials ul.socials-list li#twitter img {
    margin-top: 2px;
    height: 50px;
  }

  div.socials ul.socials-list li#mail img {
    height: 55px;
  }
}

@media only screen and (min-width: 992px) {
  /*Common Elements*/

  h1 {
    color: var(--pure-white);
    text-align: center;
  }

  h2 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }

  h3 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  h4 {
    font-family: 'Quicksand', sans-serif;
    color: var(--base-pink-1);
    font-size: 25px;
    font-weight: 600;
  }

  /*Things Which Matter*/

  div.things-which-matter {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  div.things-which-matter div.things-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.things-which-matter div.things-flex div.thing-1 {
    text-align: center;
    width: 33%;
    margin-left: 20px;
  }

  div.things-which-matter div.things-flex div.thing-2 {
    text-align: center;
    width: 33%;
  }

  div.things-which-matter div.things-flex div.thing-3 {
    text-align: center;
    width: 34%;
    margin-right: 20px;
  }

  div.things-which-matter div.things-flex div.thing-1 h4 {
    margin-top: 30px;
    text-align: center;
  }

  div.things-which-matter div.things-flex div.thing-1 img {
    height: 130px;
  }

  div.things-which-matter div.things-flex div.thing-2 h4 {
    margin-top: 30px;
  }
  div.things-which-matter div.things-flex div.thing-2 img {
    height: 130px;
  }

  div.things-which-matter div.things-flex div.thing-3 img {
    margin-top: 10px;
    height: 120px;
  }

  div.things-which-matter div.things-flex div.thing-3 h4 {
    margin-top: 32px;
  }

  /*Email Input*/

  div.email-input {
    display: flex;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  div.email-input div.email {
    width: 50%;
  }

  div.email-input div.email input#email {
    width: 70%;
    padding: 20px 20px;
    border: 6px solid var(--base-pink-1);
    border-radius: 12px;
    background-color: var(--base-black);
  }

  ::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
    color: var(--pure-white);
  }

  div.email-input div.submit-button {
    width: 30%;
    text-align: center;
  }

  div.email-input div.submit-button button#submit {
    color: var(--pure-white);
    background-color: var(--base-pink-1);
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: x-large;
    border-radius: 12px;
    vertical-align: middle;
  }

  div.email-cta{
    display: flex;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  /*Footer*/

  div.footer {
    margin-top: 200px;
    margin-bottom: 50px;
    display: flex;
  }

  div.footer div.logo {
    width: 50%;
    margin-left: 20px;
  }

  div.footer div.socials {
    width: 50%;
  }

  div.socials ul.socials-list {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 20px;
  }
  div.socials ul.socials-list li {
    padding: 10px 20px;
  }

  div.socials ul.socials-list li#instagram img {
    height: 50px;
  }

  div.socials ul.socials-list li#linkedin img {
    height: 50px;
  }

  div.socials ul.socials-list li#twitter img {
    margin-top: 2px;
    height: 50px;
  }

  div.socials ul.socials-list li#mail img {
    height: 55px;
  }
}

@media only screen and (min-width: 600px) {
  /*Common Elements*/

  h1 {
    color: var(--pure-white);
    text-align: center;
  }

  h2 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }

  h3 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  h4 {
    font-family: 'Quicksand', sans-serif;
    color: var(--base-pink-1);
    font-size: 20px;
    font-weight: 600;
  }

    /*Navbar*/

    .nav__bar {
      position: relative;
      top: auto;
    }
  
    .title__logo {
      margin: 1rem 0;
    }
  
    .navbar__buttons {
      display: none;
    }
  
    .navigation__buttons {
      margin: 5px 0;
    }
  
    .passion__navbar-mobileScreen {
      display: block;
    }


  /*Things Which Matter*/

  div.things-which-matter {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  div.things-which-matter div.things-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.things-which-matter div.things-flex div.thing-1 {
    text-align: center;
    width: 33%;
    margin-left: 20px;
  }

  div.things-which-matter div.things-flex div.thing-2 {
    text-align: center;
    width: 33%;
  }

  div.things-which-matter div.things-flex div.thing-3 {
    text-align: center;
    width: 34%;
    margin-right: 20px;
  }

  div.things-which-matter div.things-flex div.thing-1 h4 {
    margin-top: 30px;
    text-align: center;
  }

  div.things-which-matter div.things-flex div.thing-1 img {
    height: 142px;
  }

  div.things-which-matter div.things-flex div.thing-2 h4 {
    margin-top: 50px;
  }
  div.things-which-matter div.things-flex div.thing-2 img {
    height: 120px;
  }

  div.things-which-matter div.things-flex div.thing-3 img {
    margin-top: 50px;
    height: 110px;
  }

  div.things-which-matter div.things-flex div.thing-3 h4 {
    margin-top: 30px;
  }

  /*Email Input*/

  div.email-input {
    display: flex;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  div.email-input div.email {
    width: 50%;
  }

  div.email-input div.email input#email {
    width: 80%;
    padding: 20px 20px;
    border: 6px solid var(--base-pink-1);
    border-radius: 12px;
    background-color: var(--base-black);
  }

  ::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
    color: var(--pure-white);
  }

  div.email-input div.submit-button {
    width: 30%;
    text-align: center;
  }

  div.email-input div.submit-button button#submit {
    color: var(--pure-white);
    background-color: var(--base-pink-1);
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: large;
    border-radius: 12px;
    vertical-align: middle;
  }

  div.email-cta{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
  }
  
  div.email-cta h3#email-text{
    text-align: center;
    vertical-align: middle;
  }

  /*Footer*/

  div.footer {
    margin-top: 200px;
    margin-bottom: 50px;
    display: flex;
  }

  div.footer div.logo {
    width: 50%;
    margin-left: 20px;
  }

  div.footer div.logo img {
    height: 70px;
  }

  div.footer div.socials {
    width: 50%;
  }

  div.socials ul.socials-list {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 20px;
  }
  div.socials ul.socials-list li {
    padding: 20px 20px;
  }

  div.socials ul.socials-list li#instagram img {
    height: 30px;
  }

  div.socials ul.socials-list li#linkedin img {
    height: 30px;
  }

  div.socials ul.socials-list li#twitter img {
    margin-top: 2px;
    height: 30px;
  }

  div.socials ul.socials-list li#mail img {
    height: 35px;
  }
}

@media only screen and (max-width: 599px) {
  /*Common Elements*/

  h1 {
    color: var(--pure-white);
    text-align: center;
  }

  h2 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  h3 {
    font-family: 'Quicksand', sans-serif;
    color: var(--pure-white);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }

  h4 {
    font-family: 'Quicksand', sans-serif;
    color: var(--base-pink-1);
    font-size: 15px;
    font-weight: 600;
  }

  /*Navbar*/

  .title__logo {
    flex-direction: column;
  }

  .navbar__buttons {
    width: auto;
    flex-direction: column;
    justify-content: center;
  }

  /*Things Which Matter*/

  div.things-which-matter {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  div.things-which-matter div.things-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.things-which-matter div.things-flex div.thing-1 {
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }

  div.things-which-matter div.things-flex div.thing-2 {
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }

  div.things-which-matter div.things-flex div.thing-3 {
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }

  div.things-which-matter div.things-flex div.thing-1 h4 {
    margin-top: 30px;
    text-align: center;
  }

  div.things-which-matter div.things-flex div.thing-1 img {
    height: 120px;
  }

  div.things-which-matter div.things-flex div.thing-2 h4 {
    margin-top: 30px;
  }
  div.things-which-matter div.things-flex div.thing-2 img {
    height: 120px;
  }

  div.things-which-matter div.things-flex div.thing-3 img {
    margin-top: 10px;
    height: 110px;
  }

  div.things-which-matter div.things-flex div.thing-3 h4 {
    margin-top: 32px;
  }

  /*Email Input*/

  div.email-input {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  div.email-input div.email {
    width: 100%;
  }

  div.email-input div.email input#email {
    width: 80%;
    padding: 15px 15px;
    border: 6px solid var(--base-pink-1);
    border-radius: 12px;
    background-color: var(--base-black);
  }

  ::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
    color: var(--pure-white);
  }

  div.email-input div.submit-button {
    margin-top: 50px;
    width: 50%;
    text-align: center;
  }

  div.email-input div.submit-button button#submit {
    color: var(--pure-white);
    background-color: var(--base-pink-1);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 12px;
    vertical-align: middle;
  }

  div.email-cta{
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
  }
  
  div.email-cta h3#email-text{
    text-align: center;
    vertical-align: middle;
  }
  
 
  /*Footer*/

  div.footer {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
  }

  div.footer div.logo {
    width: 50%;
    margin-left: 20px;
  }

  div.footer div.logo img {
    height: 40px;
  }

  div.footer div.socials {
    width: 50%;
  }

  div.socials ul.socials-list {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 20px;
  }
  div.socials ul.socials-list li {
    padding: 10px 10px;
  }

  div.socials ul.socials-list li#instagram img {
    height: 20px;
  }

  div.socials ul.socials-list li#linkedin img {
    height: 20px;
  }

  div.socials ul.socials-list li#twitter img {
    margin-top: 2px;
    height: 20px;
  }

  div.socials ul.socials-list li#mail img {
    height: 25px;
  }
}
